* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url('./images/the_pit.png');
  background-size: cover;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 10%;
  color: red;
  border: 1px solid red;
}

.footer {
  max-height: 12%;
  min-height: 12%;
}

.header-left,
.header-right {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 5px;
}

.header-right {
  margin-right: 20px;
}

.header-center {
  flex-direction: column;
  padding-top: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  font-size: xx-large;
  width: 10%;
  text-align: center;
  color: red;
}

.header-left-upper {
  color: yellow;
  font-family: 'Space Mono', monospace;
  margin-left: 5px;
}

.header-left-lower,
.header-right-lower {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: yellow;
  width: 100%;
  background-color: red;
  border: 1px solid yellow;
  padding: 5px;
  margin: 5px;
}

.header-right-upper {
  font-family: 'Space Mono', monospace;
  color: gray;
  font-weight: 700;
  font-style: italic;
  text-align: end;
}

.player-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 140px;
  min-width: 150px;
  /* border: 1px solid blue; */
  margin-top: 28%;
  padding-left: 40%;
  padding-right: 40%;
}

.player-1,
.player-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 1px solid yellow; */
  width: fit-content;
  min-height: 200px;
}

.player-1 img,
.player-2 img {
  width: 150px;
  height: 300px;
}

.key-area {
  display: flex;
  flex-direction: row;
  min-width: 22%;
  justify-content: space-between;
  border: 1px solid blue;
}
.key {
  display: flex;
  border: 4px solid black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  background-color: #1e1f26;
  color: whitesmoke;
  opacity: 0.8;
  transition: all 0.07s;
}

.firing {
  background-color: red;
  transform: scale(1.1);
}
